*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/**** NAVBAR ****/

.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  flex: 0 0 50px;
}

.navOptions1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  margin: 10px 0 0 12px;
}

.navOptions2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: 12px 15px 0 0;
}

.navLink {
  font-size: 12px;
}

.navbar a {
  color: #404040;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/**** MAIN ****/

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 300px;
}

.searchContainer {
  text-align: center;
}

.searchBar {
  margin-top: 30px;
  border: 1px solid #dadce0;
  width: 550px;
  height: 50px;
  border-radius: 50px;
}

.searchButtons button {
  margin: 0px 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.searchButtons button:hover {
  box-shadow: 0.5px 0.5px 0 1px #dadce0;
}

.searchButtons button:focus {
  outline: none;
}

.searchButtons {
  margin: 40px 0px;
}

.language {
  font-size: 12px;
}

.language a {
  color: #240dab;
  text-decoration: none;
}

.language a:hover {
  text-decoration: underline;
}

/**** FOOTER ****/

.footer {
  background-color: #f2f2f2;
  font-size: 15px;
  flex: 0 0 82px;
}

.footerOne {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 41px;
  border-top: 1px solid #dadce0;
}

.footerTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  border-top: 1px solid #dadce0;
}

.footerLinksOne {
  padding-left: 30px;
}

.footerLinksTwo {
  padding-right: 30px;
}

.mid {
  padding: 0px 20px;
}

.footer p {
  color: #787694;
}

.footer a {
  font-size: 14px;
  text-decoration: none;
  color: #787694;
}

.footer a:hover {
  text-decoration: underline;
}

@media all and (max-width: 800px) {
  .footerTwo {
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .footerLinksOne {
    padding-right: 40px;
    order: 2;
  }

  .footerLinksTwo {
    order: 1;
  }
}

/**** IMAGES ****/

.icon {
  height: 35px;
  cursor: pointer;
}
